* {
    box-sizing: border-box; 
    margin:0; 
    padding: 0; 
}

body {
    font-family: 'Inter', sans-serif;
    color: #333; /**/
    line-height: 1.6;/**/
    font-size: 16px;/**/
    max-width: 100vw;/**/
    overflow-x: hidden;/**/
}

.container {
    margin: auto;/**/
}

a {
    text-decoration: none;   
}

/*************************************************** HEADER ***********************************/
.header {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1% 10%;
}
/****** Logo ******/
.logo_header {
    flex:2;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
}
.logo_header i {
    font-size: 1.75rem;
    color:#10b981;
}

.logo_header span {
    font-size: 1.75rem;
    font-weight: 800;
    color:#2563eb;
}

/****** Desktop Menu ******/
.desktop_menu {
    /* background-color: #c7d575; */
    flex:6;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 1rem;
    flex-wrap:wrap ;
}
.header li {
    list-style: none;
}
.header li a {
    /* background-color:#fabc6a; */
    padding: 1rem 1.5rem;
    font-size: larger;
}
.desktop_menu a {
    color: black;
}

/****** Connexion / Inscription ******/
.header_connexion {
    flex:2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
.header_connexion a {
    color: white;
    border-radius: 1.5rem;
}
.header .button_connexion {
    background-color:#2563eb;
}
.header .button_registration {
    background-color:#10b981;
}

/*************************************************** NAV ***********************************/
.nav {
    background-color:#ddf0ed;
    width: 100%;
    display: flex;
    padding: 5% 10%;
}
/****** Nav 1 Textuel ******/
.nav_1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 5%;
    gap: 3rem;
}
.nav_1 h1 {
    /* background-color: #f8fafc; */
    font-size:300%;
    font-weight:750;
    text-align:start;
    line-height: 130%;
}
.nav_1 p {
     color: #94a3b8;
     line-height: 180%;
     font-size:large;
}
.nav_1 div {
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
}
.nav_1 div a {
    text-align: center;
    padding: 0.5rem;
    color: white;
    border-radius: 1.5rem;
    font-size: larger;
}
.button_commencer {
    background-color:#10b981;
}
.button_programme {
    background-color:#2563eb;
}

/****** Nav 2 Image ******/
.nav_2 {
    width: 50%;
    padding: 0 3%;
}
.img_nav {
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
}

/*************************************************** MAIN ***********************************/
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/****** Section 1 : Programmes exclusifs ******/
.section1 {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 4% 10%;
}
.section1 h1 {
    font-size: 250%;
    font-weight: 700;
}
.section1 > p {
    color:#94a3b8;
}
.programmes {
    display: flex;
    /* background-color: #fabc6a; */
    justify-content: space-around;
    gap: 3%;

}
.programmes div {
    background-color: #f3f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 2%;
    margin: 2.5% 0;
    gap:1.7rem;
    border: 1px dashed blue;
    border-radius: 1.5rem;
    flex:1;
}
.programmes div img {
    border-radius: 50%;
}
.programmes div p {
    text-align: center;
    color: #94a3b8 ;
}

/****** Section 2 : Témoignages de confiances ******/
.section2 {
    background-color: #f1f5f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 6% 10%;
}
.section2 > h1 {
    font-size: 250%;
    font-weight: 700;
}
.section2 > p {
    color:#94a3b8;
}
.temoignages {
    /* background-color:#86e8e2; */
    display: flex;
    gap: 3%; 
}
.temoin {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 1; /* Pour que chaque bloc prenne une part et qu'ils soient ainsi égaux*/
    padding: 2.5% 2%;
    gap:1.5rem;
    margin:3% 0 0 0;
    border-radius: 1rem;
}
.profil {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.profil p {
    color: #94a3b8;
    font-size: 0.9rem;
}

.section3 {
    background-color: #2563eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 6% 10%;
    text-align: center;
}

.section3 h1 {
    color: white;
    font-size: 250%;
}
.section3 p {
    color: white;
    line-height: 180%;
    font-size: 1.25rem;
    padding: 0 22rem;
}
.section3 a {
    font-size: larger;
    background-color: white;
    color: #2563eb;
    padding: 1.1% 3.2%;
    border-radius: 2rem;
    font-weight: 600;
}

/*************************************************** FOOTER ***********************************/
.footer {
   background-color: #1e293b; 
}
.container_Footer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 6% 10%;
}
.footer1 {
    display: flex;
    gap: 10%;
    border-bottom: 1px solid white;
    padding-bottom: 5%;
}
.social_network {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5% 5% 5% 25%;
    gap: 1rem;
}
.social_network p {
    color: white;
}
.logo_footer i {
    font-size: 1.75rem;
    color:#10b981;
}
.logo_footer span {
    font-size: 1.75rem;
    font-weight: 800;
    color:#2563eb;
}
.social_links {
    display: flex;
    gap: 40%;
}
.social_links a {
    flex: 1;
}
.social_links i {
    color: white;
}

.contacts {
    flex: 1;
    padding: 5% 25% 5% 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20%;
    color: white;
}
.contacts div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contacts h3 {
    font-size: 1.5rem;
}
.cgu {
    text-align: center;
    color: #94a3b8;
}